@import "tailwindcss";

/* Esto se carga primero que nada y se mantendrá fijo */
body {
  background-color: #030711; /* Equivalente a gray-950 */
  color: white;
}
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
